html {
  background-color: #2A2A2D;
  color: white;
  font-size: large;
}

body{
  padding: 10px;
}

input, select {
  background-color: #474749;
  color: white;
  padding: 4px;
  border-radius: 5px;
  border: none;
}